In [3]:
for i in range (-10,10,3):
    print(i,end=" ")

-10 -7 -4 -1 2 5 8

In [4]:
for i in range(1,11):
    if i %2==0:
        print(i)

2
4
6
8
10

In [6]:
for i in  range(1,11):
    if i %3==0:
        print(i)

3
6
9

In [9]:
nums = [1,5,11,3,12,15]
for i in nums:
    if i %2 == 0:
        s = i**2
        print(s)
    else:
           print("odd number")

odd number
odd number
odd number
odd number
144
odd number

In [ ]:
# display cubes of odd num 


num=[1,3,5,7]
for i in num :
    if i %

In [13]:
radius = [3,5,6,11,10]
for r in radius:
       area=3.14*r**2
       print(f"the area for {r} is {area}")

the area for 3 is 28.26
the area for 5 is 78.5
the area for 6 is 113.04
the area for 11 is 379.94
the area for 10 is 314.0

In [25]:
videogames=('freefire','bgmi','call of duty','vice city','coin master','temple run','8 ball pool','candy crush','candy crush saga','cricket','chess')
for name in videogames:
      if name.startswith ('c'):
         print(name)

call of duty
coin master
candy crush
candy crush saga
cricket
chess

In [1]:



total = 0
for num in range(10, 21):
    total += num
print(total)

165

In [ ]:
total=4
for num in range(10,21):
    total*=num
print(total)

20113277184000

In [ ]:
nums (5,11,2,3,10,33):
for num in num=

In [6]:

nums = [5, 11, 2, 53, 10, 33]
print(max(nums))

53

In [15]:
nums=[25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
count=0
for i in nums:
    if i%3==0:
      count=0
print(f"total count={count}")

total count=0

In [13]:
movies=["jinna","kannappa","hari hara veera mallu","pushpa","bahubali","RRR","KGF","Vikram","Valimai","Adipurush","Jawan","Pathaan","Don","Dhoom","Dangal"]
movies_with_h=0
for  movie in movies:
    if movie.startswith ("H") or movie.startswith("h"):
        movies_with_h += 1
print("count",movies_with_h)

count 1

In [10]:
movies=["jinna","kannappa","hari hara veera mallu","pushpa","bahubali","RRR","KGF","Vikram","Valimai","Adipurush","Jawan","Pathaan","Don","Dhoom","Dangal"]
movies_with_h=0
for movie in movies:
    if movie.startswith ("H") or movie.startswith("h"):
        movies_with_h += 1
print("Count",movies_with_h)

Count 1

In [14]:
for i in range(1,11):
    for j in range(1,6):
        print(f"i=(i),j=(j)")

i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)
i=(i),j=(j)

In [17]:
n = 6
for i in range(1, n):
    for j in range (1, n):
        print(i, end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [1]:
print("hello world")

hello world