In [3]:
x=[]#empty
x=list()#empty
y=[1,2,3]#dirct intialization
print(y)
fruits=[]
fruits.append('apple')
fruits.append('kiwi')
fruits.append('langoan')
print(fruits)
x=[1,2,3]
y=[4,5,6]
z=x+y #concatinate list
print(z)
a=[1]*10
print(a)
b=[1,2]*5
c=a*2
print(b)
print(c)

[1, 2, 3]
['apple', 'kiwi', 'langoan']
[1, 2, 3, 4, 5, 6]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
students=["bhargav","sameer","srikanth","yaswanth","yaswanth kumar","vamsi","ram","balaji","abhi","ruhi","varsha","sumithra","lahari","jyoshna","meghana","anjali","geetha"]

List   books = []
creation   #adding omne item at a time
add

In [8]:
COLORS = ['red','green','blue']
 colors.extend(['yellow','black'])
print(colors)
colors2 = ["purple","pink","yellow"]
colors.extend(colors2)
print ()

IndentationError: unexpected indent (4140825501.py, line 2)

In [9]:
python
colors = ['red', 'green', 'blue']
colors.extend(['yellow', 'black'])
print(colors)

colors2 = ["purple", "pink", "yellow"]
colors.extend(colors2)
print(colors)

NameError: name 'python' is not defined

List methods
Adding Elements
    1. append()' -> add one element to the end of the list
    2. insert()' -> add one element to the specific  position
    3. extend()' -> append multiple items in a list
Removing Elements
    1. remove() -> remove the first occurrence of a value
    2. pop() -> remove and retuen an element from an index
    3. clear() -> remove all elements from the list

In [2]:
books = ['hero of ages','well of accension','warbreaker','night blood','the final empire','alexander','king of thrones','new moon','harry potter and goblet fire','wind and truth']

In [3]:
print("size of book list",  len (books))

size of book list 10

In [7]:
books.remove("new moon")

ValueError: list.remove(x): x not in list

In [8]:
print(books)

['hero of ages', 'well of accension', 'warbreaker', 'night blood', 'the final empire', 'alexander', 'king of thrones', 'harry potter and goblet fire', 'wind and truth']

In [9]:
 # validation based removal
if "well of accension" in books:
    books.remove("well of accension")
print(books)

['hero of ages', 'warbreaker', 'night blood', 'the final empire', 'alexander', 'king of thrones', 'harry potter and goblet fire', 'wind and truth']

In [10]:
books.pop(3)

'the final empire'

In [11]:
books.pop(4)

'king of thrones'

In [12]:
books.pop()

'wind and truth'

In [13]:
books.clear()
print(books)

[]

In [20]:
languages = ['c','phython','java','kotlin','dart','go','c++','c#','html','java script','scala','rust','mojo','assembly']
numbers = [12,56,23,67,13,17,18,22,27,92,94,97,45,23,27,]
data =[ 1, 'apple' , 2, 'apricot', 3, ' dragon']

In [21]:
print("original",data)
data.reverse() # reverse the list
print("reversed",data)

original [1, 'apple', 2, 'apricot', 3, ' dragon']
reversed [' dragon', 3, 'apricot', 2, 'apple', 1]

In [1]:
fruits="mango","apple","dragon fruit","banana","grapes","orange","litchi","loungine","pine apple","watermelon"

In [ ]:
 series="money heist","game thrones","mirzapur",""

In [1]:
x=[] I
x2=[[]]
print(x)

SyntaxError: invalid syntax (1603384641.py, line 1)

In [2]:
x.append(1)
x.append(2)
x.append(3)
print(x2)

NameError: name 'x' is not defined

In [ ]:
items=[
    ['red','green','blue'],
    ['apple','gauva','blueberry'],
    ['150','100','300']
]
print(items)
print("size of list"),len ("items")
      print("size of list at index 0 is",len items)

In [2]:
matrix = [
    [12,23,45,27],
    [45,65,25,75],
    [76,98,88,33],
]


print(matrix)

[[12, 23, 45, 27], [45, 65, 25, 75], [76, 98, 88, 33]]

In [4]:
for row in matrix:
    for val in row:
        print(val,end=' ')
        print()

12
23
45
27
45
65
25
75
76
98
88
33

In [6]:
total = 1
for row in matrix:
    for val in row:
        total *= val
print(total)

39778534816020000000

In [7]:
for row in matrix:
    total=0
    for value in row:
        total += value
        print(row,'=>', total)

[12, 23, 45, 27] => 12
[12, 23, 45, 27] => 35
[12, 23, 45, 27] => 80
[12, 23, 45, 27] => 107
[45, 65, 25, 75] => 45
[45, 65, 25, 75] => 110
[45, 65, 25, 75] => 135
[45, 65, 25, 75] => 210
[76, 98, 88, 33] => 76
[76, 98, 88, 33] => 174
[76, 98, 88, 33] => 262
[76, 98, 88, 33] => 295

In [8]:
for col in matrix:
    total=0
    for value in col:
        total +=value
        print(col,'=>',total)

[12, 23, 45, 27] => 12
[12, 23, 45, 27] => 35
[12, 23, 45, 27] => 80
[12, 23, 45, 27] => 107
[45, 65, 25, 75] => 45
[45, 65, 25, 75] => 110
[45, 65, 25, 75] => 135
[45, 65, 25, 75] => 210
[76, 98, 88, 33] => 76
[76, 98, 88, 33] => 174
[76, 98, 88, 33] => 262
[76, 98, 88, 33] => 295

In [9]:
size = len (matrix[0])
for i in range(size):
    total = 0

In [ ]:
size = len(matrix[0])
 for c in range(size):
 total = 0
 for r in range(len(matrix)):
     total += matrix[r][c]
 print(f"column")

In [1]:
x = [11,12,13,15,19]
x[0:3]
x[2:len(x)]

[13, 15, 19]

In [2]:
x = [3:6]
x = [-5:-3]
x = [3:-3]
x = [-5:6]

SyntaxError: invalid syntax (973821340.py, line 1)

# slicicng syntax

In [8]:

name = "william shakepeare"
name[8:-6]

'shak'

In [9]:
name = "william shakespeare"
name[2:-1]

'lliam shakespear'

In [11]:
name = "williamshakespeare"
name[:7]
name[8:]

'hakespeare'

In [13]:
name =  "MADHAV"
name[: :2]

'MDA'

In [14]:
    name = "madhav"
    name[1: :2]

'ahv'

In [15]:
name = "maddipati madhav"
name[3: :7]

'dm'

In [2]:
name = "maddipati madhav"
fname = name[ :7]
mname = name[6:7]
name = name[7:]
name[::2]

't ahv'

In [13]:
x =[1,2,3,4,5,6,7,8,9,13]
for item in x [::-1]:
  print(item)

13
9
8
7
6
5
4
3
2
1

In [18]:
x = [1,3,4,5]
x2 = []
for i in x:
    s=1*2
    x2.append(s)
print(x,x2)

[1, 3, 4, 5] [2, 2, 2, 2]

In [19]:
x = [4,8,12,16]
x3 = []
for i in x:
    x3.append(i//2)
print(x,x3)

[4, 8, 12, 16] [2, 4, 6, 8]

In [20]:
x = [1,2,3]
y = [4,5,6]
xy = []
for i,j in zip(x,y):
    xy.append(i+j)
print(x,y,xy,sep='\n')

[1, 2, 3]
[4, 5, 6]
[5, 7, 9]

In [21]:
z = [2,3,4]
zsqr=[]
for i in z:
    zsqr.append(i**2)
print(zsqr)

[4, 9, 16]

simple
 

newlist = [operation for loop]
example: x2 = [i**2 for i in x]
example: x3 = [a**3 for a in y]

condition based 
   new list = op

In [1]:
my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [2]:
my_tuple = (1,"hello",3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [3]:
my_tuple = ("mouse",[8,4,7],(1,3,6))
print(my_tuple)

('mouse', [8, 4, 7], (1, 3, 6))

In [4]:
my_tuple = 3,4.5, "kiwi"
print(my_tuple)

(3, 4.5, 'kiwi')

In [5]:
my_tuple = ('p','e','r','m','n','t')
print(my_tuple[0])
print(my_tuple[5])

p
t

In [10]:
n_tuple = ("mouse",[8,7,6],[1,3,5])
print(n_tuple[1][2])
print(n_tuple[0][1])

6
o

In [ ]:
my_tuple = ('m','a','d','h','a','v')

In [11]:
print(my_tuple[1:4])

('e', 'r', 'm')

In [12]:
print(my_tuple[:-7])

()

In [13]:
print(my_tuple[:5])

('p', 'e', 'r', 'm', 'n')

In [15]:
print(my_tuple[:])

('p', 'e', 'r', 'm', 'n', 't')

In [16]:
print((1,2,3)+(7,8,9))

(1, 2, 3, 7, 8, 9)

In [17]:
print(("repeat",)*3)

('repeat', 'repeat', 'repeat')

In [20]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

In [ ]:
name = maddipati madhav
email = madhavmadhav782000@gmail.com
city  = tirupati
home town = gudur
mca student = yes
days schooler = nonlocal
programming = python

In [2]:
d3 = {
    'color':'lavender',
    'shape':'hexogon',
    'size':'7 metres',
    'material':'fibre'
}
print(d3)

{'color': 'lavender', 'shape': 'hexogon', 'size': '7 metres', 'material': 'fibre'}

In [3]:
info = {
    'fact1': 'all keys in the dictionary should be unique',
    'fact2': 'all keys immutable so only string and tuple are allowed as keys',
    'fact3': 'value of key can be of any type ->string,num,list,dict'
}
print (info)

{'fact1': 'all keys in the dictionary should be unique', 'fact2': 'all keys immutable so only string and tuple are allowed as keys', 'fact3': 'value of key can be of any type ->string,num,list,dict'}

In [6]:
product = {
    'name':'mobile',
    'price':'32999',
    'features':{'camera':'50 mp','os':17,'ram':'16 gb'},
    'brand':'iqoo',
    'model':'neo 7'

}
print(product)

{'name': 'mobile', 'price': '32999', 'features': {'camera': '50 mp', 'os': 17, 'ram': '16 gb'}, 'brand': 'iqoo', 'model': 'neo 7'}

In [7]:
print(product.get('model'))

neo 7

In [9]:
print(product.get('brand'))

iqoo

In [1]:
contact = {}

In [1]:
contacts = {
    'emergency' : 108
}
print("contact Book")
while True:
    print("Search Contact")
    name = input("Name ðŸ‘‰ ")
    if name in contacts:
        print("ðŸ”Ž Contact  found")
        print(name, 'ðŸ¤™', contacts.get(name))
    else:
        print("ðŸ’€ Contact not found")
        ch = input("Don you want to add it? Y/N : ")
        if ch == 'Y':
            num = input("Enter (name)'s number: ")
            contacts[name] = num
            print("âœ… Success! contact added")
        else:
            print("Okay ðŸ™‚")
    quit = input("Do you want to continue? Y/N")
    if quit != 'Y' or quit != 'y':
        print("ðŸ‘‹ Byeee")
        break

contact Book
Search Contact
ðŸ’€ Contact not found
Okay ðŸ™‚
ðŸ‘‹ Byeee